<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Кафедра</title>
</head>
<body>

<h1>Кафедра</h1>

Факультет: {{facultyValue}}
<br>
<br>
Кафедра: {{departmentValue}}
<br>
<br>
Номер: {{indexValue}}
<br>
<br>
    
</body>
</html>