<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Личная информация</title>
</head>
<body>
    
<h2>
    Личная информация
</h2>

<div style="background: rgba(185, 232, 238, 0.829); margin-bottom: 15px; padding: 4px;">
    <h3>Логин: {{login}}</h3>
    <br>
    Возраст: {{age}} 
    <br>
    Хобби: {{hobby}}
</div>
</div>

</body>
</html>