<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Добавить склад</title>
    <link rel="stylesheet" href="/style.css"
</head>
<body>
    <h1>Добавить склад</h1>
    <form action="/insert/store">
        <p>Введите название:</p>
        <input name="name" type="text" class="input-class">
        <br>
        <br>

        <p>Введите названия машин через пробел:</p>
        <input name="cars" type="text" class="input-class">
        <br>
        <br>

        <p><input type="submit" value="Готово" class="btn-class"</p>
    </form>

</body>
</html>
